h1 {
    color:rgb(22, 126, 223);
    text-align: left;
}

ul {
    color:rgb(8, 16, 22);
    text-align: left;
}

p {
    color:rgb(8, 16, 22);
    text-align: left;
}

body {
    color:rgb(8, 16, 22);
    text-align: left;
}

head {
    color:rgb(8, 16, 22);
    text-align: left;
}